.adobe
.bash_history
.bash_logout
.bashrc
.cache
.compiz
.config
.dbus
Desktop
.dmrc
Documents
Downloads
.eclipse
examples.desktop
.fonts.conf
.gconf
.git
.gitconfig
.gnome2
.gnome2_private
.gnupg
.gstreamer-0.10
.gvfs
.ICEauthority
.idlerc
.kde
.lesshst
.local
.macromedia
.mozilla
Music
.oracle_jre_usage
.pam_environment
Pictures
.presage
Public
.python_history
README
.sogouinput
.ssh
.sudo_as_admin_successful
.sunpinyin
.swt
Templates
upstart-dbus-bridge.733.pid
upstart-file-bridge.733.pid
upstart-udev-bridge.733.pid
Videos
.viminfo
.wget-hsts
workspace
.wxHexEditor
.Xauthority
.xinputrc
.xsession-errors
.xsession-errors.old
.vim
